BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
PointerAlignment: Right
AlignAfterOpenBracket: true
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: true
IncludeBlocks: Preserve